<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @request.customer %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @request.driver %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @request.location_name %>
</p>

<p>
  <strong>Map location:</strong>
  <%= @request.map_location %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
